<%- include('../partials/head.ejs') %> <%- include('../partials/nav.ejs') %>

<div class="apie content">
  <h2>Apie mane</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet libero nulla
    corporis ut quo minus!
  </p>
  <p>
    Ex, aspernatur id incidunt facere eligendi, culpa quas ratione sapiente sed
    eos dolorem? Mollitia, blanditiis!
  </p>
  <p>
    Ullam obcaecati libero exercitationem facilis! Ullam accusamus repellat
    quasi nobis esse magni unde pariatur laudantium?
  </p>
</div>

<%- include('../partials/footer.ejs') %>
