.apiemus {
  height: 500px;
  background-image: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/rain/rain-falling-into-a-puddle-causing-ripples.jpg);
}

.apiemustekstas {
  background-color: rgba(240, 248, 255, 0.782);
}
