<nav>
  <div class="site-title">
    <a href="/"><h1>Books</h1></a>
    <p>Library</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/books">All Books</a></li>
    <li><a href="/books/create">Create New Book</a></li>
    <% if (user) { %>
    <li><a href="/logout">Log out</a></li>
    <% } else { %>
    <li><a href="/login">Log in</a></li>
    <li><a href="/signup">Sign up</a></li>
    <% } %>
  </ul>
</nav>
