<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" type="submit" id="forma">
      <label for="vardas">Jūsų vardas: </label>
      <input type="text" name="vardas" id="vardas" />
      <label for="elPastas">Jūsų el. paštas: </label>
      <input type="text" name="elPastas" id="elPastas" />
      <label for="zinute">Norima žinutė</label>
      <input type="text" name="zinute" id="zinute" />
      <button>siūsti</button>
    </form>
    <script src="kontaktaijs" defer></script>
  </body>
</html>
