body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.antraste {
  padding: 20px 0;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}

.antraste > div {
  margin: 0 20px;
}

.nuorodos > a {
  padding: 20px 20px;
}

.antraste2 {
  background-color: blueviolet;
  padding: 20px;
}

.antraste2 > p {
  color: aliceblue;
  width: 80%;
  margin: auto;
  text-align: center;
}

.straipsniai1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 224, 224);
}

.straipsniai2,
.straipsniai3 {
  display: flex;
  justify-content: space-around;
}

.straipsniai2 > div,
.straipsniai3 > div {
  background-color: aliceblue;
  height: 200px;
  width: 30%;
  margin: 20px;
  padding: 20px;
  border: 1px solid;
}

.poraste {
  display: flex;

  justify-content: space-around;
  background-color: blueviolet;

  padding: 20px 0px;
}

.poraste > div {
  color: aliceblue;
}

.poraste2 {
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}

.poraste2 > div {
  padding: 20px;
}
