body,
html {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
}

nav li a.nav-link:hover {
  text-decoration: underline;
  color: #1b6bed;
}

nav li a.nav-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #1b6bed;
}

nav li {
  margin-right: 50px;
}

nav li:last-child {
  margin: 0;
}

.kon1 {
  background-image: url(https://s3-alpha-sig.figma.com/img/3b43/b3ba/9fe8a2f8cbf05ee6d21002fe5d546eec?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NlG6QOqMiYAe~USRtZwKby720O9XWlpXwPTcKOHxqNW76Q1U1nh3oD7qLFyD561kwxwVQvBCz3ljDQi0t7~W4O67vvJyy1Y75jxtmEE5S6KG~pFEKegfd8KDFfI6PloboTw-vy~pcXX32cDBlMTn9brVbHiooHFmBYAgPeXdw~GpcjX1vxGzCnypShEjLu-W7APS879Iu6iWSIorYI~L08A2q-uSbAMWt5bvnhE8qOsBhiQySAXaUkAh-zlR~h3PxVlb-2dmVotxJxvyQPfqLJ4hb~EvTYRzdtVAV2HAqEPh6Un5sos0A4xlMQSFjSUECcxWnzkGB3DzHznEMbuMQA__);
  background-position: center;
  background-size: cover;
  padding: 343px 0;
  position: relative;
  background-attachment: fixed;
}

.kon1 div:first-child {
  font-weight: 700;
  font-size: 90px;
  line-height: 113px;

  color: #ffffff;
}

.kon1 div:nth-child(2) {
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;

  color: #ffffff;
}

.kon1 button {
  width: 215px;
  height: 48px;
  background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.kon1 div svg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.kon2 {
  background: rgba(249, 249, 249, 1);
  padding: 170px 0;
}

.kon2 .container {
  position: relative;
}

.svg svg {
  position: absolute;
  left: 586px;
  top: 230px;

  right: 213px;
  z-index: 0;
}
.kon2 .eile2 {
  margin-top: 193px;
}
.kon2 .eile2 > div:first-child > div {
  background: rgba(255, 255, 255, 1);
  position: relative;
  padding: 70px 249px 102px 74px;
  z-index: 2;
}

.kon2 .eile2 h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #a6a6a6;
  margin-bottom: 97px;
}

.kon2 .eile2 h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 136.19%;
  text-transform: capitalize;
  color: #4b4b4b;
}
.kon2 .eile2 p {
  max-width: 486px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 148.19%;
  color: #888888;
  margin-bottom: 99px;
  margin-top: 20px;
}

.kon2 .eile2 .mygtukas1 {
  width: 232px;
  height: 49px;
  border-radius: 24px;
  border: 2px solid;
  border-color: #1f59ee;
  background: none;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;

  background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.kon2 .eile2 .mygtukas2 {
  box-sizing: border-box;
  width: 183px;
  height: 50.31px;
  border-radius: 36px;
  border: 2px solid;
  border-color: #1f59ee;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;

  background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.kon2 .tuscias {
  height: 460px;
  background: rgba(249, 249, 249, 1);
  position: relative;
  z-index: 1;
}

.kon2 .eile2 .pav {
  background-image: url(https://s3-alpha-sig.figma.com/img/767b/50c2/c063f5151d06a15d8f416e41228c4a88?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=N54gsvg6XffKzX43XQBumMKH6g3MzK2ml5I15SFvhiBHOBSWGwM3fpcpaK8Nuv-mhGZbDpSA90jPVfiwNZjk6ogZaa1BhrzJ5ZgAgoAHKAlwjBZ4~LGNU48vntHLShxNG9nh8icKnvY5ZzmdLRy26VTfr4JZa9b-w41BD57jvtyHVOOmo3~hU1S-nt3uK6iwV3n~C7devDbRG6k0z1E0yeuYukd1IEjJOYTHX7t77ugeRAFV5oyiAIPYapA00z3kUrMCQzumN7FVenEusOvnSDpsa4tDUdhltSeSSs60bxKv9AcLHSIzBoHmGHvBiLj1jydctt7~ws78~6lCeKSWUA__);
  position: absolute;
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 320px;
  box-shadow: -8px 8px 42px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15.59px;
  top: 61px;
  left: 655px;
  z-index: 3;
}

.kon2 .tekstas {
  max-width: 1241px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #666666;
}

.kon3 {
  background-image: url(https://s3-alpha-sig.figma.com/img/fea8/1bde/d3bd0daf16f11bbd8f583b96605d33d4?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DD-jzp-p-fmO4iKswmTgK8mhCn4yErxBO9RyA3P3pgcH-yKU9eW90oLDD3iooIfJTR4UvJfLbe3rGIMGhHuPwQOkJRtVdZqu6Ti2jSigC-pgmhwvpFTR5HXqU~KZ-FowIEiIU70Pm-QBV~3gYmzcZGr8wucVqVifO3UafczsTuubMaoOnSyPlnWckjjTIkxKE1EXFwdRaa-TMAS~7tW5H6VfEkyalLqnwfIghHOAKz97MzJ2z0eILUtjrbm8-Mp9IEVmI4~SryLXj0KxxmqInHVQ3qBFD~9D2GdWQrLeZaG4IY68ZlEHcEY8YIf8Z4-MhebKfrsm9~sL86CblkgCvg__);
  background-position: center;
  background-size: cover;
  padding: 190px 0;
  background-attachment: fixed;
  position: relative;
}

.kon3 > div.svg svg {
  position: absolute;
  left: 0;
  top: 0;
}

.kon3 > div:last-child {
  background-color: #ffffff;
}

.kon3 .pirmas h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #333333;
}

.kon3 .pirmas p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
  max-width: 410px;
}

.kon3 .antras h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;

  background: linear-gradient(180deg, #00d4e4 -40.5%, #1f59ee 97.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.kon3 .antras h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-top: 15px;
}

.kon3 .antras p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 10px;
  color: #888888;
}

.kon4 {
  position: relative;
  padding: 83px 0 119px 0;
}

.kon4 .svg1 {
  position: absolute;
  right: 0;
  top: 0;
}

.kon4 svg.svg2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.kon4 > div > p {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #262020;
  margin-bottom: 71px;
}

.kon4 .pav {
  background-image: url(https://s3-alpha-sig.figma.com/img/767b/50c2/c063f5151d06a15d8f416e41228c4a88?Expires=1739145600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=CZoIfx27Cxudfl~aRRiyb4fuPE8VBBfA5ZTJSn16rzrfuy~TgUoH4a6phh0heJgIbRGk9WI9-qjlANzxKGFzZklz0F5s8RKz5tlgyDjnNOhL7unbam5Xo4htLlD7aPGtDLFvUSfvs~E6i08nafGiCvBluH06DF5z9aqGylrIugaBQdlzEYbG51kKEKnTk36pg1xcpam7nhwH-wv7HiCgLoMTiK52O0ZbiTaTaoyYRGvqJDZXuYxCFIOZ19MU6I0Nt8l~qzI94JbgHYt4N1uuiIC6PE-bWbCBJVlXHH6l4y6rlIIlJ7vnJy0IOAKSsp7TVNoSDtuz5m9VzbVw-XnXIg__);
  height: 282px;
  max-width: 282px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 0;
  margin-top: 0;
}

.kon4 .tekstas {
  font-weight: 600;
  font-size: 16px;
  line-height: 136.19%;
  text-transform: capitalize;
  color: #ffffff;
  background: rgba(43, 43, 43, 0.7);
  width: 100%;
  padding: 16px 0;
  padding-left: 15px;
}

.kon4 .tekstas p {
  padding: 0;
  margin: 0;
}

.kon5 {
  background-color: rgba(17, 34, 77, 1);
  color: white;
}

.kon5 > div {
  padding-top: 69px;
}

ul {
  list-style-type: none;
}

ul > li {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}

ul > li:first-child {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.kon5 .eile1 .tekstas {
  margin-top: 43px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
.kon5 hr {
  margin-bottom: 0;
}
.kon5 .copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 35px 0;
}
