body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #2c3e509a;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  margin-bottom: 50px;
  padding-top: 10px;
}

.top p {
  color: #000000;
  font-size: 22px;
  margin-bottom: 10px;
}

.root {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
  justify-content: center;
  padding: 10px 0;
}

.pizza {
  position: relative;
  background-color: #ffffff; /* baltas fonas */
  border-radius: 12px;
  padding: 20px;
  max-width: calc(50% - 80px);
  font-family: "Segoe UI", sans-serif;

  width: 100%;
}

.kaina {
  position: absolute;
  right: -10;
  top: -20;
  background-color: #e06b1c;
  border-radius: 50%;
  padding: 10px;
  color: #ffffff;
}

.pavadinimas {
  color: #e06b1c;
  font-size: 22px;
  margin-bottom: 10px;
}

.toppings {
  color: #7f8c8d;
  font-size: 14px;
  margin-bottom: 8px;
}

.aprasymas {
  font-size: 15px;
  color: #2c3e50;
}

.pizza button {
  background-color: #2c3e50;
  color: white;
  border-radius: 5px;
  padding: 2px 10px;
}
.pizza button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(13, 10, 10);
}

.pridetiPica {
  font-family: "Inter", sans-serif;

  border-radius: 5px;
  background-color: #257adc;
  color: #ffffff;
}

.pridetiPica:hover {
  border-radius: 5px;
  background-color: #ffffff;
  color: #257adc;
  cursor: pointer;
}
