<nav>
  <div class="site-title">
    <a href="/"><h1>Komponentai pockels cells</h1></a>
    <p>LS-PC</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/CreatePockelsCell">Create pockels Cell</a></li>
  </ul>
</nav>
