<nav>
  <div class="site-title">
    <a href="/"><h1>Komponentai pockels cells</h1></a>
    <p>LS-PC</p>
  </div>
  <ul>
    <li><a href="/">Pamokos</a></li>
    <li><a href="/apie">Apie</a></li>
    <li><a href="/blogs/create-blog">Nauja pamoka</a></li>
  </ul>
</nav>
